[submodule "ROA-Clothing"]
	path = ROA-Clothing
	url = https://github.com/Muhtoyyib/ROA-Clothing
[submodule "monsters-rolodex"]
	path = monsters-rolodex
	url = https://github.com/Muhtoyyib/monsters-rolodex.git
